<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>717047925408-ba19gk3aqu9t5eotrtcnv5jab72pjb1b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.717047925408-ba19gk3aqu9t5eotrtcnv5jab72pjb1b</string>
	<key>API_KEY</key>
	<string>AIzaSyDnMVFKgrLb5isH4TtS6s1f0TbJItO4EKk</string>
	<key>GCM_SENDER_ID</key>
	<string>717047925408</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fitness.bonfacenjuguna.com.fitnessApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fitnessapp-5aad9</string>
	<key>STORAGE_BUCKET</key>
	<string>fitnessapp-5aad9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:717047925408:ios:7a5066439764239583d7c5</string>
</dict>
</plist>